- if controller_name != 'sessions'
  a.btn.btn-outline-light.mt-3 href=new_session_path(resource_name) Log in

- if devise_mapping.registerable? && controller_name != 'registrations'
  a.btn.btn-outline-light.mt-3 href=new_registration_path(resource_name) Sign up